<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data</title>
</head>
<body>
    <h1>주소로 기상데이터 받아오기</h1>
    <form action="/weather" method="post">
        <label for="address">주소를 입력하세요:</label><br>
        <input type="text" id="address" name="address" required><br><br>

        <label for="date">날짜를 입력해주세요(default=today):</label><br>
        <input type="text" id="date" name="date" required><br><br>
        <input type="submit" value="기상 데이터 조회"><br>
    </form>

    {% if address %}
    <h2>입력된 주소: {{ address }}</h2>
    {% endif %}

    {% if date %}
    <h2>입력된 날짜: {{ date }}</h2>
    {% endif %}
</body>
</html>
